@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../fonts/Poppins-SemiBold.ttf);
}
/*Whole website*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}



/*Header*/

header {
    background-image: url(../images/header-picture.png);
    font-family: 'Poppins', sans-serif;
    padding: 35px;
}

.date {
    color: white;
    float: right;
    margin-right: -20px;
}

section {
    background-image: url(../images/background-paper.png);
    overflow: hidden;
    text-align: center;
}

/*Section1*/



.journal-logo {
    position: relative;  
    z-index: 1;  
}

.pen {
    position: relative;  
    float: left;
    margin-left: -60px;
    margin-top: -90px;
    z-index: 2;  
}

.sticker-bear {
    float: left;
    margin-top: -70px;
    margin-left: -20px;
}

.purple-line {
    position: absolute;
    left: 47%;
}

.heart-big-1, .heart-big-2 {
    float: right;
}

.heart-big-1 {
    margin-right: -48px;
    margin-top: -110px;
}

.heart-big-2 {
    margin-right: -60px;
}

.tape {
    position: relative;
    float: left;
    margin-left: -221px;
    margin-top: 110px;
    z-index: 2;
}

.text-s1 {
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 180px;
    position: absolute;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #353535;
}

.journal-text-s1 {
    position: relative;
    margin-left: -105px;
    margin-top: 99px;
    z-index: 1;
}

.journal-text-s1 object {
    width: 650px;
}

/* SECTION2 STYLINGS */
#section2{
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
}

#section2 > img:nth-of-type(1), #section2 > img:nth-of-type(2), #section2 > img:nth-of-type(3){
    position: absolute
}

#section2 > img:nth-of-type(1){
    z-index: 2;
    top: 91px;
    left: -41px;
}

#section2 > img:nth-of-type(2){
    z-index: 2;
    top: 61px;
    left: 74px;
}

    
#section2 > img:nth-of-type(3){
    z-index: 2;
    top: 5px;
    left: 323px;
}
       

#section2 > img:nth-of-type(4){
    position: relative;
    margin-top: 215px;
    z-index: 1;
}


#section2 > img:nth-of-type(5){
    position: relative;
    margin-top: -89px;
    margin-left: -108px;
    z-index: 0;
}

#section2 > img:nth-of-type(6){
    position: relative;
    top: -283px;
    z-index: 3;
    width: 100%;
    
}


#section2 > img:nth-of-type(7){
    position: relative;
    margin-top: -257px;
    z-index: 1;
}



#section2 > img:nth-of-type(8){
    position: relative;
    margin-top: -186px;
    margin-bottom: -266px;
    z-index: 0;
}


#section2 > img:nth-of-type(9){
    position: relative;
    top: -303px;
    left: 57px;
    margin-bottom: -276px;
    width: 132%;
    height: auto;
    z-index: 1;
}








/*Section3*/

#section3 {
    position: relative;
}

.scrolling-container{
    width: 100%;
    position: relative;
    overflow: hidden;
    transform: rotate(-3deg);
  }
  
  .scrolling-text-content{
    display: inline-block;
    animation: scroll 200s forwards linear infinite;
  }
  
  .scrolling-text-content p{
    font-size: 1.5em;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    color: black;
  }
  
  @keyframes scroll {
    0%{transform: translate(0, 0)}
    100%{transform: translate(-100%, 0)}
  }


  .music-photo {
    float: left;
    position: absolute;
    top: 450px;
    left: -10px;
    z-index: 5;
}
  .greetings-text-s3 {
    position: relative;
    margin-left: -80px;
    z-index: 1;
    margin-top: 10px;
}

.greetings-text-s3 img {
    width: 550px;
}

.sticker-package {
    position: relative;
    z-index: 4;
    float: right;
    margin-top: -170px;
    margin-right: -20px;
}

/*Slide-videos*/
.slider-video video {
    width: 90%;
    padding: 10px;
    box-shadow: 1px -1px 20px #7c3dc080;
}

.swiper-slide {
    transition: width 700ms ease;
}

.swiper-slide {
    width: 100%;
}

[class*="swiper-button-"]{
    color: transparent;
    position: absolute;
    top: 77%;
    margin-left: 95px;
    margin-right: 80px;
}


 .swiper-button-play {
    position: absolute;
    left: 90px;
    top: 74%;
 }

 .swiper-button-play img {
    width: 60px;
 }




/*Section4*/
#section4 {
    position: relative;
    text-align: center;
}

.pink-animal-s4 {
    position: absolute;
    top: 0px;
    z-index: 2;
}

.star-necklace {
    position: absolute;
    z-index: 2;
    right: -110px;
    overflow: hidden;
    margin-top: -390px;
}

.moments-logo-s4 {
    position: relative;
    z-index: 4;
    margin-top: 80px;
}



.photo-drag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    height: 100%; 
    align-items: center;
    justify-items: center;
    margin-top: -290px;
}

.photo-drag img {
    width: 100%; 
    max-width: 70px;
    height: auto; 
    cursor: pointer;
}

/* .drop-zone {
    display: flex;
    justify-content: center;
} */

.moments-airpods-s4 {
    position: relative;
    margin-top: -273px;
    margin-left: 96px;
}

/* DROP/POP ZONE*/
    
/* .drop-zone{
    background-image: url(../images/moments-dropzone-s4.png);
} */

.drop-zone {
    position: relative; /* Ensure positioning context */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -75px;
}
.drop-zone img{
    height: 600px;
  
}
.pop {
    position: absolute;
    top: 137px;
    left: 9px;
    rotate: -7deg;
    z-index: 1;
    border: solid 1px white;
    border-radius: 8px;
}

.pop img{
    width: 100%;
    max-width: 132px;
    height: auto;
    border-radius: 8px;
}


/* MUSIC PLAYER */
/* .audio-player {
    position: relative;
    margin-top: 20px; 
} */



.audio-player {
    display: flex;
    position: absolute;
    top: 253px;
    left: 183px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.play-pause {
    background-color: #FFCC00;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rewind {
    background-color: transparent; /* Remove background color */
    border: none;
    width: 35px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 25px;
}

#playIcon {
    display: block;
    font-size: 28px;
    margin-left: 7px;
}



/* Optional: Adjust image sizes */
.play-pause img,
.rewind img, .volume img {
    width: 100%; /* Ensure the images fill the button */
    height: 100%;
}




#pauseIcon {
    display: none;
    font-size: 24px;
    
    margin-top: -3px;
}

#seekBar {
    width: 100px;
    margin-top: -91px;
    margin-left: -76px;
    margin-right: -23px;
}




/* ---------------------- */
.visualizer {
    margin: -150px -73px 0 -150px;
    width: 230px; /* Increase the width of the visualizer */
    height: auto; /* Adjust height as needed */
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /* background-color: #333; Optional: Add a background color */
    padding: 10px; /* Optional: Add padding for spacing */
}

.bar {
    width: 100%; /* Each bar takes full width of the container */
    background-color: #FFCC00; /* Bar color */
    border-radius: 4px  ; /* Rounded corners */
    /* margin: 1px; */
   
    margin-bottom: 5px; /* Adjust spacing between bars */
}


/* --------------- */

.volume {
    background-color: transparent;
    border: none;
    width: 35px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: -8px;
}






/*Section5*/


/* jass chnages */


/* .memories-logo-s5{
    z-index: 3;
    position: relative;
}

.memories-video{
    position: relative;
    z-index: 0;
}

.memories-video img {
    margin-top: -51px;
    width: 100%;
} */


/* jass chnages */

 #section5 {
    text-align: center;
    position: relative;
 }

 .memories-text-s5 {
    position: relative;
    margin-left: -50px;
    margin-top: -60px;
    z-index: 1;
}

.memories-text-s5 object {
    width: 520px;
}

.memories-ticket-toronto {
    position: absolute;
    left: -15%;
    top: 40%;
    z-index: 3;
}

.memories-ticket-wf {
    position: absolute;
    right: -15%;
    top: 10%;
}

.memories-hbd-s5 img {
    width: 100%;
}

.memories-video video {
    width: 100%;
}












/*Footer*/

footer {
    background-image: url(../images/footer-img.png);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin-top: -15px;
}

.heart-footer-big {
    position: absolute;
    top: -70px;
    left: 30%;
    transform: translateX(-50%);
    z-index: 2;
}

.heart-footer-small {
    transform: rotate(70deg);
    margin-left: -40px;
}


.footer-text {
    color: white;
    font-size: 65px;
    margin-top: -60px;
}

.footer-mini-text {
    font-size: 12px;
    color: white;
    margin-top: -40px;
}

