/*Whole website*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}



/*Header*/

header {
    background-image: url(../images/header-picture.png);
    font-family: 'Poppins', sans-serif;
    padding: 35px;
}

.date {
    color: white;
    float: right;
    margin-right: -20px;
}

section {
    background-image: url(../images/background-paper.png);
    overflow: hidden;
    text-align: center;
}

/*Section1*/



.journal-logo {
    position: relative;  
    z-index: 1;  
}

.pen {
    position: relative;  
    float: left;
    margin-left: -60px;
    margin-top: -90px;
    z-index: 2;  
}

.sticker-bear {
    float: left;
    margin-top: -70px;
    margin-left: -20px;
}

.purple-line {
    position: absolute;
    left: 35%;
}

.heart-big-1, .heart-big-2 {
    float: right;
}

.heart-big-1 {
    margin-right: -48px;
    margin-top: -110px;
}

.heart-big-2 {
    margin-right: -60px;
}

.tape {
    position: relative;
    float: left;
    margin-left: -221px;
    margin-top: 110px;
    z-index: 2;
}

.text-s1 {
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 180px;
    position: absolute;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #353535;
}

.journal-text-s1 {
    position: relative;
    margin-left: -105px;
    margin-top: 99px;
    z-index: 1;
}

.journal-text-s1 img {
    width: 650px;
}


/*Section3*/

.scrolling-container{
    width: 100%;
    position: relative;
    overflow: hidden;
    transform: rotate(-3deg);
  }
  
  .scrolling-text-content{
    display: inline-block;
    animation: scroll 200s forwards linear infinite;
  }
  
  .scrolling-text-content p{
    font-size: 1.5em;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    color: black;
  }
  
  @keyframes scroll {
    0%{transform: translate(0, 0)}
    100%{transform: translate(-100%, 0)}
  }


  .music-photo {
    float: left;
    position: absolute;
    z-index: 5;
}
  .greetings-text-s3 {
    position: relative;
    margin-left: -80px;
    z-index: 1;
    margin-top: 150px;
}

.greetings-text-s3 img {
    width: 550px;
}

.sticker-package {
    position: relative;
    z-index: 4;
    float: right;
    margin-top: -170px;
    margin-right: -20px;
}

/*Section4*/
#section4 {
    position: relative;
    text-align: center;
}

.pink-animal-s4 {
    position: absolute;
    top: 0px;
    z-index: 2;
}

.star-necklace {
    position: absolute;
    z-index: 2;
    right: -110px;
    overflow: hidden;
    margin-top: -390px;
}

.moments-logo-s4 {
    position: relative;
    z-index: 4;
    margin-top: 80px;
}



.photo-drag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    height: 100%; 
    align-items: center;
    justify-items: center;
    margin-top: -290px;
}

.photo-drag img {
    width: 100%; 
    max-width: 70px;
    height: auto; 
}

.drop-zone {
    display: flex;
    justify-content: center;
}

.moments-airpods-s4 {
    margin-top: -220px;
}

/*Section5*/
 #section5 {
    text-align: center;
    position: relative;
 }

 .memories-text-s5 {
    margin-left: -50px;
    margin-top: 0px;
    z-index: 1;
}

.memories-text-s5 img {
    width: 520px;
}

.memories-ticket-toronto {
    position: absolute;
    left: -15%;
    top: 28%;
}

.memories-ticket-wf {
    position: absolute;
    right: -15%;
    top: 15%;
}

.memories-hbd-s5 {
    margin-bottom: 60px;
    margin-top: 60px;
}

/*Footer*/

footer {
    background-image: url(../images/footer-img.png);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin-top: -15px;
}

.heart-footer-big {
    position: absolute;
    top: -70px;
    left: 30%;
    transform: translateX(-50%);
    z-index: 2;
}

.heart-footer-small {
    transform: rotate(70deg);
    margin-left: -40px;
}


.footer-text {
    color: white;
    font-size: 65px;
    margin-top: -60px;
}

.footer-mini-text {
    font-size: 12px;
    color: white;
    margin-top: -40px;
}

